<!DOCTYPE html>
    <head>
        <title>New Form</title>
        {% load static %}
        <!---script type="text/javascript" src="{% static 'myscript.js' %}"></script> ---> 
        <script>
            function hide_checkbox(){
    var check_div = document.getElementById("checkbox");
    var check = document.getElementById("billing_address_select");
    var header = document.getElementById("billing_header");
    var status = "{{billing_status}}";
    console.log(status)
    
    if (status != "unbound"){
        check_div.style.display = "display";
    }
    if (status == "unused"){
        header.style.display = "none";
        check.checked = true; 
        check_div.style.display = "none";
    }
    display_billing()
}
    
function display_billing(){
    var check = document.getElementById("billing_address_select");
    var billing = document.getElementById("billing_address_form");
    if (check.checked == false){
        billing.style.display = "block";
        
        document.getElementById("id_billing-line_one").required = true;
        document.getElementById("id_billing-city").required = true;
        document.getElementById("id_billing-county").required = true;
        document.getElementById("id_billing-postcode").required = true;
        
    }
    else {
        billing.style.display = "none";
        
        document.getElementById("id_billing-line_one").required = false;
        document.getElementById("id_billing-city").required = false;
        document.getElementById("id_billing-county").required = false;
        document.getElementById("id_billing-postcode").required = false;
    }
}
</script>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
        <link rel="stylesheet" href="{% static 'mystyle.css' %}?{% now 'u' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
     </head>
     
    {% block body %}
    {% endblock %}
    
     