<!DOCTYPE html>
    <head>
        <title>New Form</title>
        {% load static %}
        <script type="text/javascript" src="{% static 'myscript.js' %}"></script>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
        <link rel="stylesheet" href="{% static 'mystyle.css' %}?{% now 'u' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
     </head>
     
    {% block body %}
    {% endblock %}
    
     