{% extends "html_form/base.html" %}

{% block body %}
    {% load crispy_forms_tags %}
     <body onload=hide_checkbox()>
        <div class="container">
            <h1>Cusworth Master Locksmiths</h1>
            <br>
            <form  method="post">
                {% csrf_token %}
                <h2>Contact Information</h2>
                <br>
                {% crispy client %} 
                <h2>Job Details</h2>
                {% crispy jobaddress %}
                {{ job|crispy }}
                <h2 id= billing_header>Billing Information</h2>
                <div id="checkbox">
                    <input type="checkbox" class="form-check-label" id="billing_address_select" name="billing_address_select" onclick="display_billing()">
                    <label>Is your billing address the same as the job address?</label>
                </div>
                <div id="billing_address_form">
                    {% crispy billingaddress %}
                </div>
                <br>
                <button type="submit" name="submit" class="btn btn-primary" id='submit'>Submit</button>
            </form>
        </div>
    <body>
{% endblock %}
    
     