<!DOCTYPE html>
    <head>
        <title>CML TEST FORM</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'form_style/mystyle.css'%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

     </head>
     <body>
        
         <div class="container" id="banner">


         </div>
         <div class="container"> 
             <h1 id="bob">CML TEST FORM</h1>
             <form>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname"><br>
                <br>
                <label for="address">Address:</label><br>
                <input type="text" id="address" name="address"><br>
                <label for="postcode">Postcode:</label><br>
                <input type="text" id="postcode" name="postcode"><br>
                <br>
                <label for="Description">Please provide a brief description of the job:</label><br>
                <input type="text" id="job_des" name="job_des"><br>
             </form>
         </div>

         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

     </body>