<!DOCTYPE html>
    <head>
        <title>CML TEST FORM</title>
     </head>
     <body>
         <h1>CML TEST FORM</h1>
         <div> 
             <form>
                <label for="fname">First name</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname"><br>
                <br>
                <label for="address">Address:</label><br>
                <input type="text" id="address" name="address"><br>
                <label for="postcode">Postcode:</label><br>
                <input type="text" id="postcode" name="postcode"><br>
                <br>
                <label for="Description">Please provide a brief description of the job:</label><br>
                <input type="text" id="job_des" name="job_des"><br>
             </form>
         </div>
     </body>