<!DOCTYPE html>
    <head>
        <title>Success!</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>

        <link rel="stylesheet" href="{% static 'form_style/mystyle.css'%}?{% now 'u' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
<body>

    <div class="container">
        <h1>Success!</h1>
        <br>
        <a href = "{% url 'jobs_home:current' %}">Home</a>
    </div>

</body>