{% extends "jobs_home/base.html" %}

{% block title %}
Archive
{% endblock %}
{% block script %}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script> 
<script>
    
    function change_search()
    {
        var selected = document.getElementById("select").value;
        var client = document.getElementById("client-tab");
        var job = document.getElementById("job-tab");
        var address = document.getElementById("address-tab");
        
        if (selected == 1)
        {
            address.style.display = "none"
            job.style.display = "none"
            client.style.display = "block"
            
        }
        else if (selected == 0)
        {
            address.style.display = "none"
            job.style.display = "block"
            client.style.display = "none"
            
        }
        else 
        {
            address.style.display = "block"
            job.style.display = "none"
            client.style.display = "none"
        }

        return selected  
    }
    
</script>
{% load crispy_forms_tags %}
{{ form.media }}
{% endblock %}


{% block body %} 
    <!-- Title and selector --->
    <h1>Archive</h1>
    <br>
    <div class="form-group" label="" id="selector">
        <label for="sel1">Select list:</label>
        <select onchange="change_search()" class="form-control" id="select">
            <option selected>---------- Select a Search Category ----------</option>
            <option value=0>Job</option>
            <option value=1>Client</option>
            <option value=2>Address</option>
        
        </select>
    </div>

    <!-- Job Tab-->
    <div class="container" id="job-tab" {% if job_results %} style="display:block" {% endif %}>
        <h2>Job Search</h2>
        <br>
        {% crispy job_search.form job_search.form.helper %}

        <!-- Table -->
        {% if job_results %}
            <br>
            {% include "jobs_home/tables.html" %}
            <br>
        {% endif %}

    </div>


    <!-- Address Tab -->
    <div class="container" id="address-tab" {% if address_results %} style="display:block" {% endif %}>
        <h2>Address Search</h2>
        <br>
        {% crispy address_search.form address_search.form.helper %}
        <br>

        <!-- Table -->
        {% if address_results %}
            <div class="table-responsive">
                <table class="table table-hover" id="address_table">
                    <thead class="thead">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Address 1</th>
                            <th scope="col">Address 2</th>
                            <th scope="col">City</th>
                            <th scope="col">County</th>
                            <th scope="col">Postcode</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for address in address_results %}
                            <tr id="{{address.id}}" onclick="window.open('address/{{address.id}}')">
                                <th scope="row">{{address.id}}</th>
                                <td>{{address.line_one}}</td>
                                <td>{{address.line_two}}</td>
                                <td>{{address.city}}</td>
                                <td>{{address.county}}</td>
                                <td>{{address.postcode}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            {% include 'jobs_home/pagination.html' %}
            <br>
        {% endif %}    
    </div>

    
    <!-- Client Tab -->
    <div class="container" id="client-tab" {% if client_results %} style="display:block" {% endif %}>
        <h2>Client Search</h2>
        <br>
        {% crispy client_search.form client_search.form.helper %}
        <br>

        <!-- Table-->
        {% if client_results %}
            <div class="table-responsive">
                <table class="table table-hover" id="client_table">
                    <thead class="thead">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in client_results %}
                            <tr id="{{job.id}}" onclick="window.open('client/{{client.id}}')">
                                <th scope="row">{{client.id}}</th>
                                <td>{{client.first}} {{client.last}}</td>
                                <td>{{client.email}}</td>
                                <td>{{client.number}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            {% include 'jobs_home/pagination.html' %}
            <br>
        {% endif %}   
    </div>

{% endblock %}