<!DOCTYPE html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="{% static 'styles/mystyle.css' %}?{% now 'u' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">        
        {% block script %}{% endblock %}
    </head>
    
   
<nav class="navbar fixed-top navbar-expand-lg navbar-light" id="navbar">
  
  <a class="navbar-brand" id="brand" href="#">
    <img src="{% static 'images/logo-1.png' %}" class="logo "> 
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " ><a href="{% url 'html_form:new' %}" class="nav-link">New Job</a></li>
      <li class="nav-item"><a href="{% url 'jobs_home:inbox' %}" class="nav-link">Inbox</a></li>
      <li class="nav-item"><a href="{% url 'jobs_home:current' %}" class="nav-link">Current Jobs</a></li>
      <li class="nav-item"><a href="{% url 'jobs_home:archive' %}" class="nav-link">Search</a></li> 
    </ul> 
    <ul class="nav navbar-nav navbar-right">
      <li><button class="btn btn-outline-success" id="logout_btn" type="button" onclick="location.href ='/logout'">Log Out</button></li>
    </ul>
  </div>
</nav>
      
     
    
    <body id="base_body">
        <div class="container">
          <br>
          {% block body %} {% endblock %}
         
        </div>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


      </body>