<!DOCTYPE html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        {% load static %}
        
        <link rel="stylesheet" href="{% static 'styles/mystyle.css' %}?{% now 'u' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        
        {% block script %}{% endblock %}
    </head>
    <nav class="navbar navbar-light" id="navbar">
      <div class="container-fluid">
        <div class="navbar-header" id="logo_div">
        </div>
        <ul class="nav navbar-nav">
          <li class="navlist navbar-text"><a href="{% url 'jobs_home:inbox' %}">Inbox</a></li>
          <li class="navlist navbar-text"><a href="{% url 'jobs_home:current' %}">Current Jobs</a></li>
          <li class="navlist navbar-text"><a href="{% url 'jobs_home:archive' %}">Archive</a></li>
        </ul>
        
        <div class="nav-buttons">
          <button class="btn btn-primary btn-lg" type="button" onclick="location.href = '/form/new'">New Job</button>
          <button class=" btn btn-success" type="button" onclick="">Log Out</button>
        </div>
        
      </nav>
      </div>
     
    
    <body>
        <div class=container>
          {% block body %} {% endblock %}
         
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>