{% extends "jobs_home/details.html" %}

{% block title %} Client {{client.id}} {% endblock %}
{% block heading %} Client {{client.id}} {% endblock %}
{% block body %}
    {% include "jobs_home/client-card.html" %}
{% endblock %}
 

{% block cards %}
<div class="card-deck">
    
            <div class="card border-dark mb-3" >
                <div class="card-header">Related Addresses</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush text-dark">
                            
                        {% for item in related %}
                        <li class="list-group-item">
                            <a href="{% url 'jobs_home:address' item.id %}">
                                {{item.line_one}}, {{item.line_two}}, {{item.city}}, {{item.county}} {{item.postcode}}
                            </a>
                            <br>
                        </li>
                        {% endfor %}
                        </ul>
                    </div>
                
            </div>
       
            <div class="card border-dark mb-3">
                <div class="card-header">Related Jobs</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush text-dark">
                    {% for item in jobs %}
                    <li class="list-group-item">
                        <a href="{% url 'jobs_home:jobs' item.id %}" style="display:inline">
                            Job {{item.id}}
                        </a>
                        <p> {{item.creation_date}} </br> {{item.description}}</p>
                        <br>
                    </li>
                    {% endfor %} 
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
        
        
  
    
    
{% endblock %}
