 
<div class="card border-dark mb-3">
    <div class="card-header"
        {% if click %}
            style="cursor:pointer;"
            onclick="location.href = '/client/{{client.id}}'"
        {% endif %}
    >
        <h5>Client</h5>
    </div>
    <div class="card-body text-dark">
        <ul class="list-group list-group-flush text-dark">
            
            <li class="list-group-item">Name 
                <p class="client_info" id="last">{{client.last}}</p>
                <p>&nbsp;&nbsp;</p>
                <p class="client_info" id="first">{{client.first}}</p>
            </li>
            <li class="list-group-item">Contact Number 
                <p class="client_info" id="number">{{client.number}}</p>
            </li>
            <li class="list-group-item">Email 
                <p class="client_info" id="email">{{client.email}}</p>
            </li>
        
            
            
        </ul> 
        <br>

        {% if not click %}
        <button type="button" onclick="edit_content('client_info')" class="btn btn-warning" id="client_info">Edit</button>
        {% endif %}
    </div>
</div>
                 