{% extends "jobs_home/base.html" %}

{% block title %}
Current Jobs
{% endblock %}

{% block body %}

<h1>Current Jobs</h1>
<br>
    <table class="table table-hover">
        <thead class="thead">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Added</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
<a href="{% url 'html_form:form' %}">Submit Form</a>
<br>
<a href="{% url 'html_form:new' %}">New Form</a>
<br>
{% endblock %}



        