<!DOCTYPE html>
    <head>
        <title>CML HOMEPAGE</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/mystyle.css' %}?20181209">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <nav class="navbar navbar-light" id="navbar">
      <div class="container-fluid">
        <div class="navbar-header" id="logo_div">
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#">Inbox</a></li>
          <li><a href="#">Current Jobs</a></li>
          <li><a href="#">Archive</a></li>
        </ul>
      </div>
    </nav>
    <body>
      
        <h1 id = "bob">HOMEPAGE</h1>
        <a href="{% url 'html_form:form' %}">Submit Form</a>
        

    </body>