{% extends "jobs_home/base.html" %}

{% block title %}
Inbox
{% endblock %}

{% block body %} 
    <h1 id=header>Inbox</h1>
    <br>
    <table class="table table-hover">
        <thead class="thead">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Job Address</th>
            <th scope="col">Description</th>
            <th scope="col">Creation</th>
        </tr>
        </thead>
        <tbody>
            {% for job in current_jobs %}
        <tr onclick="window.open({{job.id}})">
            <th scope="row">{{job.id}}</th>
            <td>{{job.client_id}}</td>
            <td>{{job.job_address_id}}</td>
            <td>{{job.description}}</td>
            <td>{{job.creation_date}}</td>
        </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>
  

{% endblock %}