{% extends "jobs_home/base.html" %}

{% block title %}
Inbox
{% endblock %}


{% block script %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
  type="text/javascript"></script>

<script type="text/javascript"> 
function make_current()
    {
        var id = this.id; 
        event.stopPropagation();
        $.ajax(
                {
                    url: "/inbox",
                    type: "post",
                    data: id,
                    headers: {'X-CSRFToken': '{{ csrf_token }}'}, 
                });
    }
</script>
{% endblock %}

{% block body %} 
    <h1 id=header>Inbox</h1>
    <br>
    <table class="table table-hover">
        <thead class="thead">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Job Address</th>
            <th scope="col">Description</th>
            <th scope="col">Creation</th>
            <th scope="col">Click</th>
        </tr>
        </thead>
        <tbody>
            {% for job in current_jobs %}
        <tr onclick="window.open({{job.id}})">
            <th scope="row">{{job.id}}</th>
            <td>{{job.client.first}} {{job.client.last}}</td>
            <td>{{job.job_address.postcode}}</td>
            <td>{{job.description}}</td>
            <td>{{job.creation_date}}</td>
            <td> <button class="btn btn-warning" id="{{job.id}}" onclick="make_current()">Submit</button></td>
        </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>
  

{% endblock %}