{% extends "jobs_home/base.html" %}

{% block title %}
Inbox
{% endblock %}


{% block script %}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script>  
    function change_status(idnum)
        {
            event.stopPropagation();
            var info = {"idnum": idnum};
            var row = document.getElementById(idnum);
            row.style.display = "none";
            $.ajax(
                    {
                        url: "inbox",
                        type: "post",
                        data: info,
                        headers: {'X-CSRFToken': '{{ csrf_token }}'}, 
                    });
        }
</script>
{% endblock %}

{% block body %} 
    <h1 id=header>Inbox</h1>
    <br>
    {% include "jobs_home/tables.html" %}

{% endblock %}