
<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" id="brand" href="#">
        <img src="{% static 'images/logo-1.png' %}" class="logo ">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupported Content">
        <ul class="nav navbar-nav mr-auto">
          <li ><a href="{% url 'html_form:new' %}">New Job</a></li>
          <li><a href="{% url 'jobs_home:inbox' %}">Inbox</a></li>
          <li><a href="{% url 'jobs_home:current' %}">Current Jobs</a></li>
          <li><a href="{% url 'jobs_home:archive' %}">Search</a></li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><button class=" navbar-btn btn btn-success" id="logout_btn" type="button" onclick="location.href ='/logout'">Log Out</button></li>
      </ul>
    </div>
  </nav>