{% extends "jobs_home/details.html" %}

{% block title %} Job {{job.id}} {% endblock %}
{% block heading %} Job {{job.id}} {% endblock %}

{% block cards %}
<div class="card-deck">
    {% include "jobs_home/client-card.html" %}
    {% include "jobs_home/address-card.html" %}  
</div>       
{% endblock %}
           
{% block body %} 
    <div class="card border-dark" id="job_card">
        <div class="card-header">
            <h5>Job Details</h5>
        </div>
        <div class="card-body">
            <h6>Job Description</h6>
            <p class="card-text job_info" id="description">
                {{job.description}}
            </p>
            <br>
            <button type="button" onclick="edit_content('job_info')" class="btn btn-warning" id="job_info">Edit</button>
        </div>
    </div>

{% endblock %}



            
                