<!DOCTYPE html>
    <head>
        <title>Job {{job.id}}</title>
        {% load static %}
       
        <link rel="stylesheet" href="{% static 'styles/mystyle.css' %}?{% now 'u' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script> 
            function edit_content(card)
            {
                var x = document.getElementsByClassName(card);
                var i;
                var xhttp = new XMLHttpRequest();
                var page = '/' + {{job.id}}
                var changes = {}
                var button = document.getElementById(card);
                if (button.innerText == "Edit")
                {
                    for (i =0; i < x.length; i++)
                        {
                        x[i].contentEditable = "true";
                        }
                    button.innerText = "Commit";
                }
                else {
                    for (i =0; i < x.length; i++)
                        {
                        x[i].contentEditable = "false";
                        edited = x[i].innerText
                        id = x[i].id 
                        changes[id] = edited
                        }
                   

                    $.ajax({
                            url: page,
                            type: "post",
                            data: changes,
                            headers: {'X-CSRFToken': '{{ csrf_token }}'}, // for csrf token
                        });
                    button.innerText = "Edit";

                }   
            }
        </script>
    
    </head>
    <body>
      
        <div class="container" id="job_background">
            <br>
            <h1>Job {{job.id}}</h1>
            <br>
            <div class="card-deck"> 

                
                <div class="card border-dark mb-3">
                    <div class="card-header">
                        <h5>Client</h5>
                    </div>
                    <div class="card-body text-dark">
                        <ul class="list-group list-group-flush text-dark">
                            <li class="list-group-item">{{client.first}} {{client.last}}</li>
                            <li class="list-group-item">{{client.number}}</li>
                            <li class="list-group-item">{{client.email}}</li>
                            <li class="list-group-item">Link somewhere</li>
                            
                        </ul>   
                    </div>
                </div>
                 

                
                <div class="card border-dark mb-3">
                    <div class="card-header">
                        <h5>Address</h5>
                    </div>
                    <div class="card-body text-dark">
                        <ul class="list-group list-group-flush text-dark">
                            <li class="list-group-item">{{address.line_one}}</li>
                            <li class="list-group-item">{{address.line_two}}</li>
                            <li class="list-group-item">{{address.city}}</li>
                            <li class="list-group-item">{{address.county}}</li>
                            <li class="list-group-item">{{address.postcode}}</li>
                            <li class="list-group-item">Link somewhere</li>
                        </ul>
                    </div>
                </div>


            </div>

            <div class="card" id="job_card">
                <div class="card-header">
                    <h5>Job Details</h5>
                </div>
                <div class="card-body">
                    <p class="card-text job_info" id="description">
                        {{job.description}}
                    </p>
                   
                    <button type="button" onclick="edit_content('job_info')" class="btn btn-warning" id="job_info">Edit</button>


                </div>

            </div>

            
            
        </div>
        



            
                