
<div class="table-responsive">
<table class="job_table table table-hover " id="job_table"  >
    <table class="table table-hover " id="job_table" width="2" >
    <thead class="thead">
    <tr>
        <th scope="col">#</th>
        <th scope="col" >Name</th>
        <th scope="col">Address</th>
        <th scope="col" width="50%" >Description</th>
        <th scope="col">Creation</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        {% for job in job_results %}
    <tr id="{{job.id}}" >
        <th scope="row">{{job.id}}</th>
            <td onclick="location.href ='job/{{job.id}}'">{{job.client.first}} {{job.client.last}}</td>
            <td onclick="location.href ='job/{{job.id}}'">{{job.job_address.postcode}}</td>
            <td onclick="location.href ='job/{{job.id}}'">{{job.description}}</td>
            <td onclick="location.href ='job/{{job.id}}'">{{job.creation_date}}</td>
        
            <td class="button_column"> 
                <button class="btn btn-warning table-btn" onclick="change_status('{{job.id}}', 1)">{{button_label_one}}</button>
                {% if 'Delete' == button_label_two %}
            <button class="btn btn-danger table-btn"  data-toggle="modal" data-target="#delete_modal" onclick="pass_id('{{job.id}}')">{{button_label_two}}</button>
                {% else %}
                    <button class="btn btn-warning table-btn" onclick="change_status('{{job.id}}', 2)">{{button_label_two}}</button>
                {% endif %}
            </td>  
    </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
<br>
    {% include 'jobs_home/pagination.html' %}
  

   
   
    
