
<div class="table-responsive">
<table class="job_table table table-hover " id="job_table"  >
    <table class="table table-hover " id="job_table" width="2" >
    <thead class="thead">
    <tr>
        <th scope="col">#</th>
        <th scope="col" >Name</th>
        <th scope="col">Address</th>
        <th scope="col" width="50%" >Description</th>
        <th scope="col">Creation</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        {% for job in job_results %}
    <tr id="{{job.id}}" onclick="window.open('job/{{job.id}}')">
        <th scope="row">{{job.id}}</th>
        <td>{{job.client.first}} {{job.client.last}}</td>
        <td>{{job.job_address.postcode}}</td>
        <td>{{job.description}}</td>
        <td>{{job.creation_date}}</td>
            <td> 
                <button class="btn btn-warning table-btn" onclick="change_status('{{job.id}}', 1)">{{button_label_one}}</button>
                <button class="btn btn-warning table-btn" onclick="change_status('{{job.id}}', 2)">{{button_label_two}}</button>
            </td>  
    </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
<br>
    {% include 'jobs_home/pagination.html' %}
  

   
   
    
