
<div class="table-responsive">
<table class="job_table table table-hover " id="job_table"  >
    <table class="table table-hover " id="job_table" width="2" >
    <thead class="thead">
    <tr>
        <th scope="col">#</th>
        <th scope="col" >Name</th>
        <th scope="col">Address</th>
        <th scope="col" width="50%" >Description</th>
        <th scope="col">Creation</th>
        {% if include_button %}
        <th scope="col"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
        {% for job in current_jobs %}
    <tr id="{{job.id}}" onclick="window.open('job/{{job.id}}')">
        <th scope="row">{{job.id}}</th>
        <td>{{job.client.first}} {{job.client.last}}</td>
        <td>{{job.job_address.postcode}}</td>
        <td>{{job.description}}</td>
        <td>{{job.creation_date}}</td>
        {% if include_button %}
        <td> <button class="btn btn-warning" onclick="change_status('{{job.id}}')">{{button_label}}</button></td>
        {% endif %}
    </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>
</div> 
    {% include 'jobs_home/pagination.html' %}
  

   
   
    
